body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

h1, h2 {
    text-align: center;
    font-size: 40px;
}

a:hover {
    color: #f17f7f;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

header {
    background-color: #3d3c3c;
    padding: 20px 0;
    box-shadow: 0 2px 4px #fff;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: center;
}

section{
    margin-bottom: 40px;
    width: 100%;
}

section h2{
    margin-bottom: 20px;
}
 
h1{
    font-size: 60px;
}

#imgnoticia{
    object-fit: cover;
    transition: 0.3s ease;  
}
 
#imgnoticia:hover{
    transform: scale(1.1);
}
 
#coluna{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;  
}

.paragrafo {
    min-width: 300px;
    max-width: 1000px;
    
    margin: auto;
    margin-bottom: 30px;
    padding: 5px 15px 5px 15px;
    background-color: #2b2929;
    box-shadow: 0px 0px 10px rgb(34, 33, 33);
    border-radius: 15px;
}

.paragrafo h2 {
    font-size: 30px;
}

.imagens img {
    
    width: 25%;
   object-fit: cover;
    
    
    border: 5px solid #5176f0;
    border-radius: 10px;
}
.imagens{
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-color: #2b2929;
    padding: 20px;
}
 
aside {
    flex: 0 0 300px;
    padding: 20px;
    box-sizing: border-box;
}
 
aside video{
    width: 70%;
    height: auto;
}
 
nav ul {
    list-style-type: none;/*tira a marcação da lista*/
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border-radius: 7px;
}

nav ul li a:hover {
    background-color: #5176f0;
    border-radius: 7px;
}

#column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

#banner{
    padding: 0 0 0 0px ;
    width: 100%;
    height: 445px;
    object-fit: cover;
    overflow: hidden;
}

.dropdown-child {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
}

.dropdown-child li {
    display: block;
    border-radius: 7px;
}

.dropdown-child a {
    color: #f17f7f;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

footer{
    background-color: #5e5d5d5e;  
    padding: 20px 0;
    box-shadow: 4px 2px 4px 4px #fff;
    font-style: none;
    text-align: center;
    list-style: none;
    margin-inline: 0;
}
 
footer ul{
    list-style: none;
}
